schemas/common1900.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://github.com/w3c/mnx"
    elementFormDefault="qualified"
    xmlns="https://github.com/w3c/mnx"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:annotation>
        <!--xs:documentation xml:lang="en"-->
        <xs:documentation>
            ******************************************************
            *  MNX Schema (.mnx files)                           *
            *                                                    *
            *  Licensed in accordance with the                   *
            *  W3C COMMUNITY CONTRIBUTOR LICENSE AGREEMENT (CLA) *
            *  https://www.w3.org/community/about/process/cla/   *
            *                                                    *
            ******************************************************
        </xs:documentation>
    </xs:annotation>

    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- mnx: the root element of an .mnx file -->
    <xs:element name="mnx">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="global" type="globalType" maxOccurs="1" minOccurs="1"/>
                <xs:element name="part" type="partType" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Global Types -->

    <xs:complexType name="globalType">
        <xs:annotation>
            <xs:documentation>
                definition of the &lt;global&gt; element
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="measure" type="globalMeasureType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="globalMeasureType">
        <xs:annotation>
            <xs:documentation>
                definition of a global &lt;measure&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="directions" type="globalMeasureDirectionsType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="globalMeasureDirectionsType">
        <xs:annotation>
            <xs:documentation>
                definition of a global measure &lt;directions&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="time" type="timeSigType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="key" type="keySigType" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="timeSigType">
        <xs:attribute name="signature">
            <xs:simpleType>
                <xs:restriction base="multipleNoteValueType" />
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="keySigType">
        <xs:attribute name="fifths">
            <xs:annotation>
                <xs:documentation>
                    An optional '-' or '+' character followed by one or more characters in range [0..9]
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:integer" />
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Part Types -->

    <xs:complexType name="partType">
        <xs:annotation>
            <xs:documentation>
                definition of the &lt;part&gt; element
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="part-name" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="part-abbreviation" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <!--<xs:element name="instrument-sound" type="xs:string" maxOccurs="0" minOccurs="0"/> -->
            <xs:element name="measure" type="partMeasureType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="partMeasureType">
        <xs:annotation>
            <xs:documentation>
                definition of a global &lt;measure&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="directions" type="partMeasureDirectionsType" maxOccurs="1" minOccurs="0"/>
            <xs:element name="sequence" type="sequenceType" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="barline">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:pattern value="regular|dotted|dashed|heavy|light-light|light-heavy|heavy-light|heavy-heavy|tick|short|none"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="partMeasureDirectionsType">
        <xs:annotation>
            <xs:documentation>
                definition of a part measure &lt;directions&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="clef" type="clefType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="clefType">
        <xs:annotation>
            <xs:documentation>
                Definition of a part measure directions &lt;clef&gt;:
                Attributes:
                sign: One of the values "G", "F", "C", "percussion", "jianpu"
                line: an integer in range [1..9] (restrict to 5?)
                octave: A signed integer
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="sign">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="G|F|C|percussion|jianpu"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="line">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[1-9]"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="octave">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="^[-]?[0-9]$"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="sequenceType">
        <xs:annotation>
            <xs:documentation>
                definition of a part measure &lt;sequence&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="1">
                <xs:element name="directions" type="sequenceDirectionsType"  maxOccurs="1" minOccurs="1"/>
                <xs:element name="event" type="eventType" maxOccurs="1" minOccurs="1"/>
                <xs:element name="tuplet" type="tupletType" maxOccurs="1" minOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tupletType">
        <xs:annotation>
            <xs:documentation>
                definition of a part measure sequence tuplet
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="1">
                <xs:element name="directions" type="sequenceDirectionsType"  maxOccurs="1" minOccurs="1"/>
                <xs:element name="event" type="eventType" maxOccurs="1" minOccurs="1"/>
                <xs:element name="tuplet" type="tupletType" maxOccurs="1" minOccurs="1"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="outer">
            <xs:simpleType>
                <xs:restriction base="multipleNoteValueType" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="inner">
            <xs:simpleType>
                <xs:restriction base="multipleNoteValueType" />
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="sequenceDirectionsType">
        <xs:annotation>
            <xs:documentation>
                definition of a part measure &lt;directions&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="clef" type="clefType" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element name="octave-shift" type="octaveShiftType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="octaveShiftType">
        <xs:annotation>
            <xs:documentation>
                definition of a part measure directions octave-shift
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:integer" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="end">
            <xs:simpleType>
                <xs:restriction base="locationType" />
            </xs:simpleType>
        </xs:attribute>        
    </xs:complexType>

    <xs:complexType name="eventType">
        <xs:annotation>
            <xs:documentation>
                definition of a part measure sequence &lt;event&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:sequence>
                <xs:element name="note" type="noteType" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
            <xs:element name="rest" maxOccurs="1" minOccurs="1" />            
        </xs:choice>
        <xs:attribute name="value">
            <xs:simpleType>
                <xs:restriction base="noteValueType" />
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="noteType">
        <xs:annotation>
            <xs:documentation>
                Definition of a part measure sequence event &lt;note&gt;
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="pitch">
            <xs:simpleType>
                <xs:annotation>
                    <xs:documentation>
                        A character in range [A-G], optionally followed by b or bb or # or ##,
                        followed by a character in range [0-9].
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="^([A-G])(b|bb|#|##)?([0-9])$"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="accidental">
            <xs:simpleType>
                <xs:annotation>
                    <xs:documentation>
                        One of the values 'flat', 'natural', 'sharp', 'double-sharp', 'flat-flat'
                        (that have been imported from MusicXML).
                        See Issue #184 (Unicode accidentals) 
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="^(flat|natural|sharp|double-sharp|flat-flat)$"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <!-- Simple Types -->

    <xs:simpleType name="multipleNoteValueType">
        <xs:annotation>
            <xs:documentation>
                An integer string that does not begin with 0, but that has an unlimited number of digits,
                followed by a "/" character,
                followed by one of the strings "8L", "4L", "2L", "1", "2", "4", "8", "16", "32", "64", "128", "256", "512", "1024"
                The strings "8L" "4L" and "2L" denote maxima, long and breve noteValues respectively.
                (See MusicXML's note-value-type, that extends from maxima to 1024th note.)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="^([1-9][0-9]*)/(8L|4L|2L|1|2|4|8|16|32|64|128|256|512|1024)$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="noteValueType">
        <xs:annotation>
            <xs:documentation>
                An integer string that is
                an optional '1' character
                followed by a compulsory "/" character,
                followed by one of the strings "8L", "4L", "2L", "1", "2", "4", "8", "16", "32", "64", "128", "256", "512", "1024"
                followed by zero or more 'd' characters
                The strings "8L" "4L" and "2L" denote maxima, long and breve noteValues respectively.
                (See MusicXML's note-value-type, that extends from maxima to 1024th note.)
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="^(1)?/(8L|4L|2L|1|2|4|8|16|32|64|128|256|512|1024)(d*)$"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="locationType">
        <xs:annotation>
            <xs:documentation>
                EITHER
                { a reference to an ID (these consist of a '#' character, followed by arbitrary alphanumeric characters) }
                OR
                { an optional (measure number followed by a ':' character) followed by
                    EITHER
                    { a decimal floating-point number indicating the positive number of whole-notes after the start of the measure }
                    OR
                    { a multipleNoteValueType (2/4, 3/8, 4/2 6/1d etc.}
                }
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="((#([a-z|A-Z|0-9])*)|(()|(([1-9][0-9]*):)?(([0-9]*)?.([0-9]*)|([1-9][0-9]*)?/(8L|4L|2L|1|2|4|8|16|32|64|128|256|512|1024)(d*))))"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
